# Coral Reef Code Owners

# Project-wide ownership
* @Nikhilrsingh

# Frontend
/06_Frontend/ @Nikhilrsingh

# Backend
/07_Backend/ @Nikhilrsingh

# Database
/08_Database/ @Nikhilrsingh

# Testing
/09_Testing/ @Nikhilrsingh

# Documentation
/01_Documentation/ @Nikhilrsingh